body {
	margin: 0px;
}

#mapContainer {
	width: 100vw;
	height: 100vh;
}

div.info {
	width: 300px;
}

#panel {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 350px;
    background: rgb(255, 255, 255);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	padding: 1rem;
	z-index: 10;
	font-family: BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.submitBtn {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 250ms ease 0s;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    width: auto;
    line-height: 1.2;
    border-radius: 9999px;
    font-weight: 600;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid currentcolor;
    color: rgb(30, 181, 173);
    background: transparent;
}